mixin generalInfo(modifier)
  -var content = modifier || {}
  -var table = content.table || ''
  -var list = content.list || ''
  .generalInfo&attributes(attributes)
    .container.generalInfo__container
      .generalInfo__blockRight
        each val in table
          +pbt-table(val)
      .generalInfo__blockLeft
        each val in list
          +pbt-list(val)(class='generalInfo__listWrap')
           