.generalInfo {
  &__container {
    padding-top: 58px;
    padding-bottom: 37px;
    display: flex;
  }
  &__blockRight {
    margin-right: 100px;
  }
  &__blockLeft {
    flex-grow: 1;
  }
  &__tableTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 31px;
  }
  &__table {
  }
  &__cell {
    padding-bottom: 8px;
    white-space: nowrap;
    &--left {
      padding-right: 24px;
      color: #626b74;
    }
  }
  &__listWrap {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__listTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__listItem {
    padding: 6px 16px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 20px;
    border: 1px solid $main-color-6;
    margin-right: 16px;
    margin-bottom: 13px;
  }
}
