.generalInfo {
  &__container {
    padding-top: 58px;
    padding-bottom: 37px;
    display: flex;
  }
  &__blockRight {
    margin-right: 100px;
  }
  &__blockLeft {
    flex-grow: 1;
  }
  &__listWrap {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
