$main-color-1: #324057;
$main-color-2: #4671D5;
$main-color-3: #D3D5DD;
$main-color-4: #F6FBFB;
$main-color-5: #FFFFFF;
$main-color-6: #D3D5DD;

$substrate-color-1: rgb(50, 83, 144);
$substrate-color-2: rgb(50, 64, 87);
$border-radius: 4px;

$bg-white:                #F6F8FB;
$border-color:             #ececec;

$dark-green:              #457E8B;

$font:       'PT Root UI', sans-serif;


$text-color : #324057;
$burger-color: #214A51;
$icon-open-color: #2A5C67;
$border-color-header: #CAD5D9;
$dark-green-hover: #5397A6;
$link-active-color : #00B2AC;
$link-hover-color : #00CCC5;

$light_neutral :     #F6FCFC;
$text_dark :         #324057;
$base:               #00B2AC;
$accent:             #FCE42E;
$dark_gradient:      linear-gradient(180deg, #214A51 66%,rgba(33, 74, 81, 0.2));
$dark_gradient_2:    linear-gradient(90deg, #214A51 66%,rgba(33, 74, 81, 0.2));
$borders_2:          #CAD5D9;
$dark_2:             #457E8B;
$dark_1:             #2A5C67;
$neutral_light_2:    rgba(90, 125, 137, 0.1);
$borders_1:          rgba(42, 92, 103, 0.05);
$dark_3:             #007F8D;
$base_hover:         #00CCC5;
$accent_hover:       #FFE940;
$dark_hover:         #5397A6;
$neutral_ligth_3:    #FAFBFB;




$tablet-width:             768px;
$laptop-width:             1024px;
$desktop-width:            1440px;
$mobile-width-only:        767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;