extends ../templates/template.pug
block head
  +head('БЦ Черная Речка')
block content
  - 
    var contentHeader= {
      contentPage: [
        {
          text: 'Информация',
          href: '/info.html',
          active: true,
        },
        {
          text: 'Офисы',
          href: '',
        },
        {
          text: 'Контакты',
          href: '',
        },
        {
          text: 'Заказать звонок',
          href: '',
        }
      ],
      contentContact: {
        phone: '8 (812) 655-05-82',
        textBig: 'АРЕНДА',
        textSmall: 'от 690 р/м²',
      },
      contentLogo: {
        img: './img/ЧЕРНАЯ РЕЧКА.png',
        text: 'Бизнес-центр, г. Санкт-Петербург, ул. Белоостровская, 22',
      }
    };
    var contentBanner = {
      img: './img/bannerBig.jpg',
      title: 'Характеристики бизнес-центра',
      text: 'Бизнес-центр “Чёрная речка” находится по адресу ул. Белоостровская д. 22 в Приморском районе Санкт-Петербурга. Современный качественный ремонт, хорошая транспортная и пешая доступность, развитая инфраструктура - являются основными положительными качествами бизнес-центра',
      promo: {
        text: 'Назовите оператору контакт центра при звонке ваш',
        code: 'промокод: 168',
      }
    };
    var contentGeneralInfo = {
      table: [
        {
          title: 'Инженерные сети и коммуникации',
          elem: [
            {
              name: 'Система пожаротушения',
              count: '2 шт',
            },
            {
              name: 'Пожарная сигнализация',
              count: '3 шт',
            },
            {
              name: 'Видеонаблюдение',
              count: 'Да | 3.5 м',
            },
            {
              name: 'Вентиляция',
              count: 'Локальная',
            },
            {
              name: 'Окна',
              count: 'Бетон',
            },
            {
              name: 'Кондиционирование',
              count: 'Да | центральное',
            },
          ]
        },
      ],
      list: [
        {
          title: 'Доступные услуги',
          elem: [
            'Юридический адрес',
            'Ремонт',
            'Видеонаблюдение',
            'Интернет, телефония',
          ]
        },
        {
          title: 'Доступные коммуникации',
          elem: [
            'ХВС',
            'Отопление',
            'Водоотведение/Канализация',
            'ГВС',
          ]
        }
      ]
    };
    var contentAboutOffice= {
      img: './img/aboutImage2.jpg',
      title: 'Аренда офиса в СПб недорого',
      text: [
        'Здание бизнес-центра было построено в 30-е годы 20-го века для завода “Водтрансприбор”. Завод “Водтрансприбор” был первым в России заводом по выпуску гидроакустической аппаратуры. Фасад здание и сейчас сохранил элементы архитектуры авангарда.',
        'Фасад здание и сейчас сохранил элементы архитектуры авангарда. Интерьер бизнес-центр отвечает всем современным требованиям комфортного рабочего пространства. В бизнес-центре преобладают офисы и офисные блоки до 100 квадратных метра.',
        'Удобное транспортное сообщение, как для пешеходов, так и для автомобилистов. Неподалеку от бизнес-центра находится остановка общественного транспорта, а всего в 12 минутах ходьбы - станция метро “Чёрная Речка“.',
      ],
      substrate: true,
    };
    var contentHistoryInfo= [
      [
        '1 июня 1933 года в доме 22 по Белоостровской улице был открыт первый в России завод по выпуску гидроакустической аппаратуры.',
        'Первые годы завод выпускал проблесковую аппаратуру для маяков. Его продукцией был оснащен Северный морской путь, Беломоро-Балтийский канал, Астраханский рейд, шлюзовая часть Днепровского бассейна.',
      ],
      [
        'В январе 1934 года на заводе был создан первый советский эхолот. В последующие годы (1936-1938) был разработан целый ряд уникальных эхолотов для речных и морских судов.',
        'В 1935-1937 годах определяется основное направление работы завода - разработка и серийный выпуск гидроакустической аппаратуры для кораблей ВМФ.',
      ],
      [
        'В годы Великой Отечественной войны завод выпускал разнообразную гидроакустическую аппаратуру.',
        'В 1973 году создается научно-производственное объединение "Океанприбор", в которое и вошел завод.',
      ],
    ];
    var contentFeedback = {
      img: './img/bannerFeedback.jpg',
      text: {
        title: 'Современность',
        text: 'В 2004 году закончилась реконструкция здания, в котором сейчас располагается бизнес-центр “Чёрная речка”. Разнообразная планировка и метраж офисов и офисных блоков, во всех помещениях сделан качественный ремонт. На Белоостровской улице хорошо развита инфраструктура: магазины, кафе, заправочная станция. Мимо бизнес-центра проходят разнообразные маршруты общественного транспорта, а так же в двух шагах находится остановка.',
      }
    };
    var contentFooter= {
      contentPage: [
        {
          text: 'Информация',
          href: '',
          active: true,
        },
        {
          text: 'Офисы',
          href: '',
        },
        {
          text: 'Контакты',
          href: '',
        },
        {
          text: 'Заказать звонок',
          href: '',
        }
      ],
    }
  +header(contentHeader)
  +banner(contentBanner)
  +generalInfo(contentGeneralInfo)
  +aboutOffice(contentAboutOffice)
  +historyInfo(contentHistoryInfo)
  +feedback(contentFeedback)
  +footer(contentFooter)