.pbt-table {
  &__tableTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 31px;
  }
  &__table {
  }
  &__cell {
    padding-bottom: 8px;
    white-space: nowrap;
    &--left {
      padding-right: 24px;
      color: #626b74;
    }
  }
}
