mixin pbt-listIcon(modifier)
  -var content = modifier || {}
  -var title = content.title || ''
  -var items = content.elem || ''
  .pbt-listIcon&attributes(attributes)
    h3.pbt-listIcon__title= title
    ul.pbt-listIcon__list
      each val in items
        li.pbt-listIcon__listItem
          span.pbt-listIcon__icon(style='background-image: url("'+ val.icon + ' ") ')
          span.pbt-listIcon__text= val.name