.pbt-listIcon {
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  &__list {
  }
  &__listItem {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 13px;
  }
  &__icon{
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 13px;
  }
}
